@font-face {
    font-family: 'NRSnakeUI';
    src: url('/assets/fonts/nr-snake-ui.eot'),
    url('/assets/fonts/nr-snake-ui.eot?#ieprefix') format('embedded-opentype'),
    url('/assets/fonts/nr-snake-ui.ttf') format('truetype'),
    url('/assets/fonts/nr-snake-ui.svg#NRPacmanUI') format('svg');
    font-weight: normal;
    font-style: normal;
}
