@import "_settings";
@import "_snake_ui_font";

html {
    font-size: $base-font-size;
}
body {
    background-color: $body-bg-color;
    color: $body-fg-color;
    font-family: sans-serif;
}
h1 {
    font-family: 'VT323', sans-serif;
    font-size: 3rem;
    margin: .5rem 0 .5rem 0;
    padding-bottom: .75rem;
    text-align: center;
}
#screen {
    border: solid 2px $body-fg-color;
    display: block;
    margin: 0 auto;
    z-index: 1;
}
#score {
    font-family: 'VT323', sans-serif;
    font-size: 1.5rem;
    margin: 1rem auto;
    text-align: center;
}
#menu-box, #message-box {
    font-family: 'VT323', sans-serif;
    opacity: 0;
    padding: .5rem;
    padding-top: .25rem;
    position: absolute;
    text-align: center;
    transition: opacity .25s ease-out;
    z-index: 0;
    &[data-visible="yes"] {
        opacity: 1;
        transition: opacity .25s ease-in;
        z-index: 2;
    }
    h1 {
        border: none;
        color: $message-box-title-color;
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;
    }
    span {
        color: $message-box-color;
        font-style: normal;
    }
}
#menu-box {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li.active {
            background-color: $body-bg-color;
        }
    }
    h2 {
        color: $message-box-color;
        font-size: 1.25rem;
        margin: 0;
        margin-bottom: .25rem;
        margin-top: .5rem;
    }
}
#links {
    margin-top: .5rem;
    text-align: center;
    #github {
        color: $body-fg-color;
        font-size: 3rem;
        text-decoration: none;
    }
}
